<%- include("header") %>
 <!-- DataTables -->
        <link href="/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<style>
		div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: block!important;
    width: 80%!imortant;
}
.avatar {
  border: 0.3rem solid rgba(#fff, 0.3);
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 6rem;
}
</style>
<%- include("nav") %>


            <div class="wrapper">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h4 class="page-title">Contractors</h4>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-right">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Contractors</li>
                                    </ol>
                                </div>
                              <div class="col-sm-6 col-xl-3 mt-4">
                            <div class="card">
                                <div class="card-heading p-4">
                                    <div class="mini-stat-icon float-right">
                                        <i class="mdi mdi-account-multiple-outline bg-primary  text-white"></i>
                                    </div>
                                    <div>
                                        <h5 class="font-16">Contractors</h5>
                                    </div>
                                    <h3 class="mt-4"><%= contractors.length %></h3>
                                
                                  <button class="btn btn-warning btn-sm float-right" data-toggle="modal" data-target=".bs-example-modal-center">Add New Contractor</button>
                                   
                                </div>
                            </div>
                        </div>
                             <div class="col-sm-12">
                                <div class="card m-b-30 px-1">
                                    <div class="card-body px-1">
        
                                        <!--<h4 class="mt-0 header-title">Default Datatable</h4>-->
                                        <!--<p class="sub-title">DataTables has most features enabled by-->
                                        <!--    default, so all you need to do to use it with your own tables is to call-->
                                        <!--    the construction function: <code>$().DataTable();</code>.-->
                                        <!--</p>-->
        
                                    <% if(contractors.length > 0){ %>
                                        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                            <tr>
                                                <th>Full Name</th>
                                                <th>Email</th>
                                                <th>Maintenances</th>
                                                <th>Status</th>
                                            	<th>Action</th>

                                            </tr>
                                            </thead>
        
        
                                            <tbody>
                                            <% contractors.forEach(contractor => { %>
                                            <tr>
                                                <td><a href="javascript:void(0)" data-toggle="popover" data-trigger="focus" title="User Profile" data-html="true" data-content='<div class="card mx-0 px-0 py-0 my-0">
        <div class="card-body text-center">
          <img class="avatar rounded-circle" src="<%= contractor.img_url %>" alt="user avatar">
          <h4 class="card-title"><%= contractor.firstName %> <%= contractor.lastName %></h4>
          <h6 class="card-subtitle mb-2 text-muted">contractor</h6>
          <p class="small">Email: <%= contractor.email %> </p>
           <p class="small"">Number: <%= contractor.phone %> </p>
        </div>
      </div>'><%= contractor.firstName %> <%= contractor.lastName %></a></td>
                                                <td><%= contractor.email %></td>
                                                <td><%= contractor.maintenances.length %></td>
                                            <td><center><span class="badge badge-success text-center"><%= contractor.status %></span></center></td>
                                            	<td><div class="btn-group m-b-10">
                                                <button type="button" class="btn btn-primary dropdown-toggle" onclick="openedit('<%= contractor.id %>', '<%= contractor.firstName %>', '<%= contractor.lastName %>', '<%= contractor.phone %>', '<%= contractor.email %>')">Edit</button>
                                                
                                            </div></td>
                                            </tr>
                                            <% }) %>
                                            </tbody>
                                        </table>
        								<% }else { %>
                                              <div class="col-md-12 pt-3 mt-4">
                            <center class="mt-4">
                            <img src="/image_emp.png" class="img mt-3 mb-1" style="height: 200px">
                            <p class="pt-1">No Contractors available</p> <button class="mb-5 btn btn-warning" data-toggle="modal" data-target=".bs-example-modal-center">Add Contractor</button>
                            </center>
                                        </div>
                                    <% } %>
                                    </div>
                                </div>
                            </div>

                            </div> <!-- end row -->
                        </div>
                        <!-- end page-title -->

                        
                    </div>
                    <!-- container-fluid -->

                </div>
                <!-- content -->

            
               <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <form class="modal-content" onsubmit="sub(event)">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title mt-0">Add Contractor</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="card-body">
        
                                        <p class="sub-title">Complete the form to add a new contractor</p>
        
                                        
                                        <div class="form-group row">
                                            <label for="location" class="col-sm-12 pb-1 col-form-label">First Name</label>
                                            <div class="col-sm-12">
                                                <input class="form-control" type="text" id="fname" required>
                                            </div>
                                        </div>
                                                    
                                                                <div class="form-group row">
                                            <label for="location" class="col-sm-12 pb-1 col-form-label">Last Name</label>
                                            <div class="col-sm-12">
                                                <input class="form-control" type="text" id="lname" required>
                                            </div>
                                        </div>
                                                                                        <div class="form-group row">
                                            <label for="location" class="col-sm-12 pb-1 col-form-label">Phone Number</label>
                                            <div class="col-sm-12">
                                                <input class="form-control" type="text" id="phone" required>
                                            </div>
                                        </div>
                                                                
                                                                                   <div class="form-group row">
                                            <label for="location" class="col-sm-12 pb-1 col-form-label">Email</label>
                                            <div class="col-sm-12">
                                                <input class="form-control" type="email" id="email" required>
                                            </div>
                                        </div>
                                              
                                                
                                                                
                                              <div class="form-group row">
                                            <label for="img" class="col-sm-2 col-form-label">Contractor Image</label>
                                            <div class="col-sm-12">
                                               <div class="custom-file">
    											<input type="file" class="custom-file-input" accept="image/*" id="file" required>
    											<label class="custom-file-label" for="customFile">Choose file</label>
 											 </div>
                                            </div>
                                                                </div>
                                        <div class="form-group row">
                                        <div class="col-sm-12" id="err">
                                                            </div>
                                        
                                                                </div>
                                                            </div>
                                                        
                                                        <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary" id="sub_btn">Submit</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                        </div>
                                                            </form>
													<!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->
                                                
                                                
                                                           <div class="modal fade edit-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <form class="modal-content" onsubmit="edit(event)" id="edit_form">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title mt-0">Edit Contractor</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="card-body">
        
                                        <p class="sub-title">Complete the form to edit contractor</p>
        
                                        
                                        <div class="form-group row">
                                            <label for="location" class="col-sm-12 pb-1 col-form-label">First Name</label>
                                            <div class="col-sm-12">
                                                <input class="form-control" type="text" id="edit_fname" required>
                                            </div>
                                            <input type="hidden" id="uid"/>
                                        </div>
                                                    
                                                                <div class="form-group row">
                                            <label for="location" class="col-sm-12 pb-1 col-form-label">Last Name</label>
                                            <div class="col-sm-12">
                                                <input class="form-control" type="text" id="edit_lname" required>
                                            </div>
                                        </div>
                                                    
                                                                <div class="form-group row">
                                            <label for="location" class="col-sm-12 pb-1 col-form-label">Phone Number</label>
                                            <div class="col-sm-12">
                                                <input class="form-control" type="text" id="edit_phone" required>
                                            </div>
                                        </div>
                                                                
                                                                                        <div class="form-group row">
                                            <label for="location" class="col-sm-12 pb-1 col-form-label">Email Address</label>
                                            <div class="col-sm-12">
                                                <input class="form-control" type="email" id="edit_email" required>
                                            </div>
                                        </div>
                                             
                                                                
                                             <div class="form-group row">
                                            <label for="location" class="col-sm-12 pb-1 col-form-label">Password</label>
                                            <div class="col-sm-12">
                                                <input class="form-control" type="password" id="edit_password">
                                            </div>
                                        </div>
                                                                
                                              <div class="form-group row">
                                            <label for="img" class="col-sm-2 col-form-label">Contractor Image</label>
                                            <div class="col-sm-12">
                                               <div class="custom-file">
    											<input type="file" class="custom-file-input" accept="image/*" id="edit_file">
    											<label class="custom-file-label" for="customFile">Choose file</label>
 											 </div>
                                            </div>
                                                                </div>
                                                    
                                        <div class="form-group row">
                                        <div class="col-sm-12" id="edit_err">
                                                            </div>
                                        
                                                                </div>
                                                            </div>
                                                        
                                                        <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary" id="edit_btn">Edit</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                        </div>
                                                            </form>
													<!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->

<%- include("footer") %>

             <!-- Required datatable js -->
        <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="/plugins/datatables/jszip.min.js"></script>
        <script src="/plugins/datatables/pdfmake.min.js"></script>
        <script src="/plugins/datatables/vfs_fonts.js"></script>
        <script src="/plugins/datatables/buttons.html5.min.js"></script>
        <script src="/plugins/datatables/buttons.print.min.js"></script>
        <script src="/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>
            
         <script>
   const sub = (event) => {event.preventDefault()
    document.getElementById("err").innerHTML = ""
  	document.getElementById("sub_btn").disabled = true
    document.getElementById("sub_btn").innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading`
	
	
		var fd = new FormData();
		var file = $('#file')[0].files[0];
		fd.append('img', file);
		fd.append('fname', document.getElementById("fname").value)
        fd.append('lname', document.getElementById("lname").value)
		fd.append('email', document.getElementById("email").value)
    fd.append('phone', document.getElementById("phone").value)
                            
                     if(!fd.get("img").type.match(/image-*/)){
             	document.getElementById("err").innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong>Oh snap!</strong> please selecet an image file`
          
  	document.getElementById("sub_btn").disabled = false
    document.getElementById("sub_btn").innerHTML = "Submit"
    }
       else if(fd.get("img").size > 2000000){
            	document.getElementById("err").innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong>Oh snap!</strong> File size should not be greater than 2mb`
          
  	document.getElementById("sub_btn").disabled = false
    document.getElementById("sub_btn").innerHTML = "Submit"
    }else{
      axios.post('/add-contractor',
          fd, {
            headers: {
              'Content-Type': 'multipart/form-data'
            },
          }
        ).then(function (data) {


 if(data.data.message){
	  document.getElementById("err").innerHTML = `<div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <strong>Great!</strong> ${data.data.message}`
      
  	document.getElementById("sub_btn").disabled = false
    document.getElementById("sub_btn").innerHTML = "Submit"
	 location.reload()
 }
 else if(data.data.error){
	document.getElementById("err").innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong>Oh snap!</strong> ${data.data.error}`
          
  	document.getElementById("sub_btn").disabled = false
    document.getElementById("sub_btn").innerHTML = "Submit"
 }
          
        })
        .catch(err => {
        if(err.response){
          if(err.response.status == 401){
	document.getElementById("err").innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong>Oh snap!</strong> ${err.response.data.error}`
          
  	document.getElementById("sub_btn").disabled = false
    document.getElementById("sub_btn").innerHTML = "Submit"
location.reload()
          }
          
        }
        else if(err){
    document.getElementById("err").innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong>Oh snap!</strong> There Was an error processing your request please retry`
    
          
  	document.getElementById("sub_btn").disabled = false
    document.getElementById("sub_btn").innerHTML = "Submit"
          
        }
      });

    
    }

}
    
    
</script>
<script>
        function openedit(id, fname, lname, phone, email) {
    document.getElementById("edit_fname").value = fname
    document.getElementById("edit_lname").value = lname
    document.getElementById("edit_phone").value = phone
    document.getElementById("edit_email").value = email
    document.getElementById("uid").value = id
    $(".edit-modal").modal();
}

         const edit = (event) => {event.preventDefault()
    document.getElementById("edit_err").innerHTML = ""
  	document.getElementById("edit_btn").disabled = true
    document.getElementById("edit_btn").innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading`

      if (document.getElementById("edit_file").value == "") {
         axios.post('/edit-contractor',
          { 
              id: document.getElementById("uid").value,
              fname: document.getElementById("edit_fname").value,
              lname: document.getElementById("edit_lname").value,
              phone: document.getElementById("edit_phone").value,
              email: document.getElementById("edit_email").value,
              password: document.getElementById("edit_password").value
          }
        ).then(function (data) {


 if(data.data.message){
	  document.getElementById("edit_err").innerHTML = `<div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <strong>Great!</strong> ${data.data.message}`
      
  	document.getElementById("edit_btn").disabled = false
    document.getElementById("edit_btn").innerHTML = "Edit"
	 location.reload()
 }
 else if(data.data.error){
	document.getElementById("edit_err").innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong>Oh snap!</strong> ${data.data.error}`
          
  	document.getElementById("edit_btn").disabled = false
    document.getElementById("edit_btn").innerHTML = "Edit"
 }
          
        })
        .catch(err => {
        if(err.response){
          if(err.response.status == 401){
	document.getElementById("edit_err").innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong>Oh snap!</strong> ${err.response.data.error}`
          
  	document.getElementById("edit_btn").disabled = false
    document.getElementById("edit_btn").innerHTML = "Edit"
location.reload()
          }
          
        }
        else if(err){
    document.getElementById("edit_err").innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong>Oh snap!</strong> There Was an error processing your request please retry`
    
          
  	document.getElementById("edit_btn").disabled = false
    document.getElementById("edit_btn").innerHTML = "Edit"
          
        }
      });
  }	else{
	
		var fd = new FormData();
		var file = $('#edit_file')[0].files[0];
		fd.append('img', file);
		fd.append('fname', document.getElementById("edit_fname").value)
        fd.append('lname', document.getElementById("edit_lname").value)
		fd.append('email', document.getElementById("edit_email").value)
		fd.append('password', document.getElementById("edit_password").value)
    fd.append('phone', document.getElementById("edit_phone").value)
    fd.append('id', document.getElementById("uid").value)
                            
                     if(!fd.get("img").type.match(/image-*/)){
             	document.getElementById("edit_err").innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong>Oh snap!</strong> please select an image file`
          
  	document.getElementById("edit_btn").disabled = false
    document.getElementById("edit_btn").innerHTML = "Edit"
    }
       else if(fd.get("img").size > 2000000){
            	document.getElementById("edit_err").innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong>Oh snap!</strong> File size should not be greater than 2mb`
          
  	document.getElementById("edit_btn").disabled = false
    document.getElementById("edit_btn").innerHTML = "Edit"
    }else{
      axios.post('/edit-contractor',
          fd, {
            headers: {
              'Content-Type': 'multipart/form-data'
            },
          }
        ).then(function (data) {


 if(data.data.message){
	  document.getElementById("edit_err").innerHTML = `<div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <strong>Great!</strong> ${data.data.message}`
      
  	document.getElementById("edit_btn").disabled = false
    document.getElementById("edit_btn").innerHTML = "Edit"
	 location.reload()
 }
 else if(data.data.error){
	document.getElementById("edit_err").innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong>Oh snap!</strong> ${data.data.error}`
          
  	document.getElementById("edit_btn").disabled = false
    document.getElementById("edit_btn").innerHTML = "Edit"
 }
          
        })
        .catch(err => {
        if(err.response){
          if(err.response.status == 401){
	document.getElementById("edit_err").innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong>Oh snap!</strong> ${err.response.data.error}`
          
  	document.getElementById("edit_btn").disabled = false
    document.getElementById("edit_btn").innerHTML = "Edit"
location.reload()
          }
          
        }
        else if(err){
    document.getElementById("edit_err").innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong>Oh snap!</strong> There Was an error processing your request please retry`
    
          
  	document.getElementById("edit_btn").disabled = false
    document.getElementById("edit_btn").innerHTML = "Edit"
          
        }
      });

    
    }
}
}

function trunc (title) {
    var length = 20;
    if (title.length > length) {
       title = title.substring(0, length)+'...';
    }
    return title;
}
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(trunc(fileName));
});
    
$(document).ready(function() {
        $('#datatable').DataTable({
  "pagingType": "simple"
} );

    //Buttons examples
    var table = $('#datatable-buttons').DataTable({
        lengthChange: false,
        buttons: ['copy', 'excel', 'pdf', 'colvis'],
    pagingType: "simple"
    });

    table.buttons().container()
        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
} );
            </script>
