<%- include("header") %>
 <!-- DataTables -->
        <link href="/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<style>
		div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: block!important;
    width: 80%!imortant;
}
</style>
<%- include("nav") %>


            <div class="wrapper">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h4 class="page-title">Flats</h4>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-right">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Flats</li>
                                    </ol>
                                </div>
                              <div class="col-sm-6 col-xl-3 mt-4">
                            <div class="card">
                                <div class="card-heading p-4">
                                    <div class="mini-stat-icon float-right">
                                        <i class="mdi mdi-home-automation bg-primary  text-white"></i>
                                    </div>
                                    <div>
                                        <h5 class="font-16">Flats</h5>
                                    </div>
                                    <h3 class="mt-4"><%= flats.length %></h3>
                                
                                  <button class="btn btn-warning btn-sm float-right" data-toggle="modal" data-target=".bs-example-modal-center">Add New Flat</button>
                                   
                                </div>
                            </div>
                        </div>
                             <div class="col-sm-12">
                                <div class="card m-b-30 px-1">
                                    <div class="card-body px-1">
        
                                        <!--<h4 class="mt-0 header-title">Default Datatable</h4>-->
                                        <!--<p class="sub-title">DataTables has most features enabled by-->
                                        <!--    default, so all you need to do to use it with your own tables is to call-->
                                        <!--    the construction function: <code>$().DataTable();</code>.-->
                                        <!--</p>-->
        
                                    <% if(flats.length > 0){ %>
                                        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                            <tr>
                                                <th>Flat Number</th>
                                                <th>Flat Location</th>
                                                <th>Property</th>
                                                <th>Availability</th>

                                            </tr>
                                            </thead>
        
        
                                            <tbody>
                                            <% flats.forEach(flat => { %>
                                            <tr>
                                                <td><%= flat.flat_number %></td>
                                                <td><%= flat.property.location %></td>
                                                <td><%= flat.property.property_name %></td>
                                            <td><center><% if(flat.status == "available"){ %><span class="badge badge-success text-center"> <%= flat.status %> </span><% }else { %> <span class="badge badge-warning text-center"> <%= flat.status %> </span> <% } %></center></td>
                                            </tr>
                                            <% }) %>
                                            </tbody>
                                        </table>
        								<% }else { %>
                                              <div class="col-md-12 pt-3 mt-4">
                            <center class="mt-4">
                            <img src="/image_emp.png" class="img mt-3 mb-1" style="height: 200px">
                            <p class="pt-1">No property available</p> <button class="mb-5 btn btn-warning" data-toggle="modal" data-target=".bs-example-modal-center">Add Property</button>
                            </center>
                                        </div>
                                    <% } %>
                                    </div>
                                </div>
                            </div>

                            </div> <!-- end row -->
                        </div>
                        <!-- end page-title -->

                        
                    </div>
                    <!-- container-fluid -->

                </div>
                <!-- content -->

            
               <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <form class="modal-content" onsubmit="sub(event)">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title mt-0">Add Flat</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="card-body">
        
                                        <p class="sub-title">Complete the form to add a new flat under a property</p>
        
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-sm-12 pb-1 col-form-label">Property</label>
                                            <div class="col-sm-12">
                                                <select class="custom-select" id="p_id">
                                                    <option selected="">Select Property</option>
                                                    <% props.forEach(prop => { %>
                                                <option value="<%= prop.id %>"><%= prop.property_name %></option>
                                                <% }) %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="location" class="col-sm-12 pb-1 col-form-label">Flat Number</label>
                                            <div class="col-sm-12">
                                                <input class="form-control" type="number" id="num" min="1" id="p_id" required>
                                            </div>
                                        </div>
                                                                
                                              
                                        <div class="form-group row">                  
                                      <label for="desc" class="col-sm-12 pb-1 col-form-label">Flat description</label>
                                            <div class="col-sm-12">
                                                <input class="form-control" type="text" id="desc" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                        <div class="col-sm-12" id="err">
                                                            </div>
                                        
                                                                </div>
                                                            </div>
                                                        
                                                        <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary" id="sub_btn">Submit</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                        </div>
                                                            </form>
													<!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->

<%- include("footer") %>

             <!-- Required datatable js -->
        <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="/plugins/datatables/jszip.min.js"></script>
        <script src="/plugins/datatables/pdfmake.min.js"></script>
        <script src="/plugins/datatables/vfs_fonts.js"></script>
        <script src="/plugins/datatables/buttons.html5.min.js"></script>
        <script src="/plugins/datatables/buttons.print.min.js"></script>
        <script src="/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>
            
         <script>
             const sub = (event) => {event.preventDefault()
    document.getElementById("err").innerHTML = ""
  	document.getElementById("sub_btn").disabled = true
    document.getElementById("sub_btn").innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading`
	
      axios.post('/add-flat',
                 {
      num: document.getElementById("num").value,
       id: document.getElementById("p_id").value,
       description: document.getElementById("desc").value
      
      }
        ).then(function (data) {


 if(data.data.message){
	  document.getElementById("err").innerHTML = `<div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                <strong>Great!</strong> ${data.data.message}`
      
  	document.getElementById("sub_btn").disabled = false
    document.getElementById("sub_btn").innerHTML = "Submit"
	 location.reload()
 }
 else if(data.data.error){
	document.getElementById("err").innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                <strong>Oh snap!</strong> ${data.data.error}`
          
  	document.getElementById("sub_btn").disabled = false
    document.getElementById("sub_btn").innerHTML = "Submit"
 }
          
        })
        .catch(err => {
        if(err.response){
          if(err.response.status == 401){
	document.getElementById("err").innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                <strong>Oh snap!</strong> ${err.response.data.error}`
          
  	document.getElementById("sub_btn").disabled = false
    document.getElementById("sub_btn").innerHTML = "Submit"
location.reload()
          }
          
        }
        else if(err){
    document.getElementById("err").innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                <strong>Oh snap!</strong> There Was an error processing your request please retry`
    
          
  	document.getElementById("sub_btn").disabled = false
    document.getElementById("sub_btn").innerHTML = "Submit"
          
        }
      });

                                     

}
    
    
$(document).ready(function() {
        $('#datatable').DataTable({
  "pagingType": "simple"
} );

    //Buttons examples
    var table = $('#datatable-buttons').DataTable({
        lengthChange: false,
        buttons: ['copy', 'excel', 'pdf', 'colvis'],
    pagingType: "simple"
    });

    table.buttons().container()
        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
} );
            </script>
